.header
{

  background-image:url("background.png");
  background-size:100%;

}

.trasparenza
{

  background-color:rgba(55,55,75,0.3);

}

.zelda
{

  background-image:url("g1.jpg");
  background-size:100%;
  overflow:visible;
  height:700px;
   
}
